body {
    overflow-x: hidden;
    background: #f8f8f8 !important; 
}
.padding-0 {
    padding: 0 !important;
}

.padding-1 {
    padding: 1rem;
}

.margin-top-1 {
    margin-top: 1rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
