<div class="dashboard-container">
    <div class="col-md-12 header">
      <p> ClientInfo </p>
    </div>
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-7 padding-0">
            <div class="col-md-12">
                <app-client-information></app-client-information>
            </div>
            <div class="col-md-12">
              <app-ip-address-whitelisted></app-ip-address-whitelisted>
            </div>
          </div>
          <div class="col-md-5 padding-0">
            <div class="col-md-12">
                <app-connection-details></app-connection-details>
            </div>
          </div>
      </div>
    </div>
</div>
