.client-information-container {
    background: #fff;
    border-top: 2px solid #28d85c;
    .title {
        font-size: 18px;
    }
    .custom-file-label {
        width: 96%;
        margin-left: 15px;
    }
}